# Κοινές ρυθμίσεις (eurojackpot.py, joker.py, lotto.py)
MAIN_DEST_PATH=
OWNER=
GROUP=

# Eurojackpot
EUROJACKPOT_DEST_PATH=
EUROJACKPOT_CACHE_COMMAND=

# Joker
JOKER_DEST_PATH=
JOKER_CACHE_COMMAND=

# Lotto
LOTTO_DEST_PATH=
LOTTO_CACHE_COMMAND=
